.news-content{
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-bottom: 60px;
}

.news{
  width: 80%;
}

.news-title{
  margin-bottom: 10px;
}

.subtitle-content{
  font-weight: 500;
}

.news-photo{
  width: 100%;
  object-fit: cover;
  margin: 20px 0;
}

@media (max-width: 500px) {
  .news-title{
    font-size: 12px;
  }

  .content{
    font-size: 12px;
  }
}
