<app-page-title-card></app-page-title-card>
<section class="post-cards-container">
  <article class="big-card-post">
    <a *ngIf="Cards.length > 0" [routerLink]="['/news', Cards[0].id]">
      <app-big-card
      [cardPhoto]="Cards[0].photoURL"
      [cardTitle]="Cards[0].title"
      [cardDescription]="Cards[0].description"
      ></app-big-card>
    </a>
  </article>
  <section class="small-cards">
    <article *ngFor="let smallCard of smallCards"  class="small-card-post">
      <app-small-card
        [cardId]="smallCard.id"
        [cardPhoto]="smallCard.photoURL"
        [cardTitle]="smallCard.title"
      ></app-small-card>
    </article>
  </section>
</section>
