.menu-itens{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 5px;
}

.item-menu{
  margin-right: 20px;
}

a {
  box-shadow: inset 0 0 0 0 var(--second-color);
  color: var(--second-color);
  margin: 0 -.25rem;
  padding: .45rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
  box-shadow: inset 100px 0 0 0 var(--second-color);
  color: var(--primary-color);
}

