/* You can add global styles to this file, and also import other style files */

body{
  --primary-color: #161616;
  --text-body: #fff;
  --second-color: #fff;
}

body.light-theme{
  --primary-color: #fff;
  --text-body: #4b4b4b;
  --second-color: #111111;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--text-body);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
}
